################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exercise1/obj/Debug/net5.0
/Exercise1/obj/Release/net5.0
